h2{
    text-align: center;
    color: blue;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#radius{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    color: black;
    font-size: 1.1rem;
    outline: 1px solid red;
}
#disp{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    color: black;
    font-size: 1.1rem;
    outline: 1px solid red;
}
#but{
    width: 150px;
    height: 30px;
    background-color: lightgreen;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: black;
    
}
}